@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600&display=swap');



body{
    font-family: 'Prompt', sans-serif;
}

h2 {
  font-size: 1.85rem;

}

a{
  font-family: 'Prompt', sans-serif;
  text-decoration: none;


}

.wrapper {
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

.imgprofile{
  width: 130px;
  height: 130px;
  border-radius: 130px;
  box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 6px;
  cursor: pointer;
  z-index: 0;
}

.label {
  z-index: 10000;
}

/* input {
  display: none;
} */

.main--imgprofile{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 6px;
}


.imgprofile:hover{
  width: 132px;
  height: 132px;
  border-radius: 132px;
  box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 6px;
  opacity: 0.6;
}



@media screen and (max-width: 780px) {
  .leftside--menu {
    padding-top: 15px;}
  .leftside--menu a {
    font-size: 18px;}
     .imgsmall {
       background-image: 130px;}

       p{
         font-size: 12px;}
        
       .imgsmall{
         width: 80px; }
        .bgopen{
          width: 40px;
          height: 40px;
          margin-bottom:20px ;
        }
        .leftside--menu {
          height: 100%;
          width: 170px;
          position: fixed;
          font-size: 0.95rem;

          }

}
.leftside--menu {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #6A11CB 0%, #2575FC 100%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 12px;
    }

    .leftside--menu a {
        padding: 11px 11px 11px 32px;
        text-decoration: none;
        color: white;
        display: block;
        transition: 0.3s;
        font-size: 0.95rem;

      }

      .leftside--menu--footer {
        position: absolute;
        bottom: 10px;
        padding: 5px 5px 5px 5px;
        text-decoration: none;
        font-weight: lighter;
        color: white;
        display: block;
        transition: 0.3s;

      }

      .leftside--menu a:hover {
        color: #f1f1f1;
        background-color: rgb(82, 73, 247);

      }

      a .hoverlogo :hover{
        background-color:transparent;
      }
      
      .leftside--menu .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 1.2rem;
        margin-left: 45px;
      }

      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ed1c4d;
        min-width: 300px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 10;
      }
      
      .dropdown-content a {
        color: white;
        padding: 12px;
        padding-left: 20px;
        text-decoration: none;
        display: block;
      }
      .bgopen{
        background-color: rgb(225, 224, 224);
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
      }
      
.dropdown-content a:hover {background-color: rgb(57, 51, 131);}

.dropdown:hover .dropdown-content {display: inline;
}

.dropdown:hover .dropbtn {background-color: #5550b8;}


      #main {
        transition: margin-left .5s;
        padding: 30px;
        background-color: #F5F5F5;
      }

      
      

      @media screen and (min-width: 768px) and (max-width: 1000px){
        .bgtable{
          width: 1000px;
        }

      }

      .container--info--1{
        width: 90%;
        height: 90%;
        border-radius: 10px;
        font-size: 0.89rem;
        line-height: 0.8rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 6px;
        padding: 0.5rem;
        color: black;    
        align-items: center;   
      }

      
      .container--info--1:hover{
        background-color: rgb(240, 240, 240);
      }
      .container--info--2{
        width: 90%;
        border-radius: 15px;
        font-size: 1rem;
        line-height: 1.3rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 6px;
        padding: 1.2rem;
        color: black;        
      }
    

      

      .btnwarn{
        background: #fa6a6a;
        height: 40px;
        width: 120px;
        border-radius: 20px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        display: flex;
        box-shadow: 0 0 20px rgba(0.2,0,0.2, 0.1);
        border: none;
      }
      /* .share:hover{
        transform: scale(1.1);
      } */
      .btnwarn span{
        position: absolute;
        background: #2C69F6;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: bold;
        transition : 0.3s linear;
        z-index: 0;
        border-radius: 20px;
      }
      .btnwarn span .fa-share-alt{
        margin-right: 5px;
        font-size: 16px;
      }
      .btnwarn:hover span{
       transform: translateX(-100%);
      }
      .btnwarn a{
        margin: 5px;
        font-size: 14px;
        color: white;

      }
      .btnwarn a:hover{
        transform: translateY(-10%);
      }

.bgtable{
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  background-color: white;
  padding: 5px 20px 5px 20px;
  box-shadow: rgb(0 0 0 / 15%) 3px 3px 4px;

  
}
      .table {
        width: 100%;
        border-radius: 25px;
        padding: 20px 20px 20px 20px;
        background-color: white;
        font-size: 18px;
      }

      thead{
        padding: 15px;
           }

      .table tr{
        padding: 10px;
        background-color: white;
      }
th , td{
  text-align: center;
  padding: 14px;
  font: weight 300;

}


      .tr--hover:hover {background-color:#f5f5f5;
      border: 100%;}



      .decoration1{ 
        background-image: url('../images/วงกลม.png');
        background-repeat: no-repeat;
        background-position: right ; 
        position: absolute;
        z-index: 1;
      }

      .main-footer-content {
        min-width: 85%;
        text-align: end;
        justify-content: flex-end;
        position: fixed;        
        top: 95%;
        left: 40%;
        transform: translate(-50%, -50%);
        font-size: 12px;
       
    }

    .table>:not(caption)>*>* {
      padding: 1.2rem 1.3rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    /* margin: 10px; */
  }
 

  .container--table{
    margin: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
background: white;

  }

  .circle1{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px;
background-color: #2C69F6;
position:absolute;
bottom: 84%;
left: 75%;
z-index: -1;
  }

  .circle2{
    width: 170px;
    height: 170px;
    border-radius: 170px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 6px;
background-color: #5D99FF;
position:absolute;
bottom: 50%;
left: 10%;
z-index: -1;
  }

  .circle3{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 6px;
    background-color: #FF7474;
    position: absolute;
    bottom: 20%;
    left: 87%;
    z-index: -1;
    opacity: 0.3;
  }


  .bgbuilding{
    background-image: url("../images/bgbuilding2.png");
 height: auto;
  background-repeat: no-repeat;
  background-size:auto;
  position: relative;
z-index: 2;
opacity: 1;
  }
  


  

   .btn-primary{
    color: #fff;
    background-color: #FF6060;
    border-color: #FF6060;
    border-radius: 1rem;
    font-size: 14px;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #c24040;
    border-color: #c24040;

  }
  .box-confirmed {
    height: 400px;
    width: 90%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
             opacity: 1;
}
  

    .box-confirmed :hover{
      opacity: 1;
    }

    .table a
{
    display:block;
    text-decoration:none;
    font-style:normal;

}

.tabledetails{
  width: 100%;
  border-radius: 25px;
  padding: 50px 20px 20px 20px;
  background-color: white;
  font-size: 16px;
  margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

.tabledetails tbody,tr {
  padding-top: 20px;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e4e4e4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 10px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-shadow: rgb(0 0 0 / 10%) 3px 3px 5px;
}